$card-text-height: 10rem;

//Used for development
.temp-border {
  border: 1px solid brown;

  &__item {
    border: 1px solid green;
  }
}

%card-format {
  height: $card-text-height;
  max-height: $card-text-height;
}
