$card-text-height: 10rem;

//Used for development
%temp-border {
  border: 1px solid brown;

  %__first-item {
    border: 1px solid green;
  }

  %__second-item {
    border: 1px solid purple;
  }
}

%card-format {
  height: $card-text-height;
  max-height: $card-text-height;
}
